@import '../variables';
@import '../mixins';

//
// Inputs
// ----------------------------------------------
%input {
  color: $white;
  font-size: 1em;
  display: block;
  width: 100%;
  padding: 1em 1.5em;
  border-radius: 0.25rem;
  border: 1px solid $border-color;
  background: $dark-blue;
  outline: none;
  
  &:focus {
    border-color: $white;
    outline: none;
  }
}

.input {
  @extend %input;
}
