@import '../variables';
@import '../mixins';

html, body {
  min-height: 100%;
}
body {
  padding: 0 0 4rem;
  margin: 0;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: $bg-color;
  background: $dark-blue linear-gradient($medium-blue 0%, $dark-blue 60vh) no-repeat top center;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.full-width-container {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.columns {
  display: grid;
  gap: var(--container-padding);
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}