@import '../variables';
@import '../mixins';


body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: $bg-color;
}

:root {
  --container-width: 100%;
  --container-padding: 1.5rem;
  @include small-screen {
    --container-width: 90%;
    --container-padding: 2rem;
  }
  @include medium-screen {
    --container-width: 80%;
    --container-padding: 2rem;
  }
}

.container {
  margin: 0 auto;
  width: var(--container-width);
  max-width: 52rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}


.full-width-container {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}