//
// COLORS
// ----------------------------------------------
$white: #fff;
$dark-blue: #15202b;
$red: #ff3864;

$text-color: $white;
$title-color: $white;
$bg-color: $dark-blue;
$border-color: #2d3a48;